*.pyc
.DS_Store
.aws
verses.bleve
search/artifacts
search/secrets.*
search/command/vendor
search/biblescholar-*
search/command/command
search/vet.report
downloads
*.csv
*.tsv
*.verses

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
